
.header{
        list-style-type: none;
        display: flex;
        justify-content: end;
        font-size: large;
        padding: 20px;
        background-color:#e2c7fd;
        text-decoration: aliceblue;
    }
    .header li a { padding: 9px;
        
    }
    .header li a {color: rgb(91, 56, 92);}
    .header li a:hover{
        text-decoration: aqua;
        font-size: larger;}
   .learnmore{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fee0ff;
    margin: 70px 600px;
    border-radius: 10px;
    
}

.logo{
    background-color: #fee0ff;
    /* margin: 70px 600px; */
    padding: 10px;
    border-radius: 10px;
}
.content{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
     background-color: #fee0ff;
    /* margin: 70px 600px; */
    padding: 10px;
    border-radius: 10px;

}
.s122 h3{
    color: rgb(83, 5, 155);
}
.cart{
    display: flex;
    height: 30px;
    align-items: center;
    color: rgb(255, 0, 0);
}
.cart h3{
    
    color: rgb(255, 0, 0);
    margin-right: 20px;

}
.learnmore h3{
    color: rgb(83, 5, 155);
    margin-left: 20px;
}
.learnmore p{
    margin-left: 20px
    
}
.ul{
    background-color: #fee0ff;
    padding-bottom: 5px;
    border-radius: 10px;
}